/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 
html {
    height: 100%;
    background: #00ff8f;
  }
 
 
header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    border: 2px solid #000;
    margin: 10px;
    padding: 10px;
   background: linear-gradient(#FFFFFF, #00FFFF);
}

comment_up {  
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
    padding: 5px;
}

div1 {  
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
    padding: 5px;
    border: 2px solid #000;
}

li {  
    display: flex;
    flex-direction: row;
    margin: 20px;
}

member {  
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    background: linear-gradient(#FFFFFF, #dda0dd);
}


post {  
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    background: linear-gradient(#FFFFFF, #dda0dd);
}

delete {  
    display: flex;
    background: #dc143c;
    
}

group {
   display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border: 2px solid #000;
    background: linear-gradient(#FFFFFF, #dda0dd);
}

group_content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    padding: 50px;
    border: 2px solid #000;
    margin: 50px;
   background: linear-gradient(#FFFFFF, #00FFFF);
}

group_team {
    display: flex;
    padding: 50px;
    height: 90%;
    width: 80%;
    border: 2px solid #000;
    justify-content: space-evenly;
    flex-direction: column;
}

group_item {
    display: flex;
    padding: 50px;
    height: 90%;
    width: auto;
    border: 2px solid #000;
    justify-content: space-evenly;
    flex-direction: column;
}

.comment {
    display: flex;
    justify-content: space-around;
    width: 50%;
    flex-direction: column;
    border: 2px solid #000;
    margin: 10px;
   background: linear-gradient(#FFFFFF, #00FFFF);
}

.new-mark {
     color: red;
}

.name {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid #000;
    margin: 10px;
    background: linear-gradient(#FFFFFF, #00FFFF);
}

.time {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}

.comment_content {
    display: flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid #000;
    margin: 10px;
    padding: 5px;
    background: linear-gradient(#FFFFFF, #00FF00);
}

    table.member_content {
      width: 90%;
      border-collapse: collapse;
      border-spacing: 0;
       background: linear-gradient(#FFFFFF, #00FF00);
    }

    table.member_content thead {
      text-align: center;
    }

    table.member_content th {
      border-width: 1px;
      padding: 10px;
      border-style: solid;
      border-color: #aaa;
    }

    table.member_content td {
      border-width: 1px;
      padding: 10px;
      border-style: solid;
      border-color: #aaa;

    }