/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 
html {
    height: 100%;
    background: linear-gradient(#FFFFFF, #00ff7f);
  }
 
 
header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-direction: column;
    border: 2px solid #000;
    margin: 10px;
   background: linear-gradient(#FFFFFF, #00FFFF);
}

div1 {  
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
    border: 2px solid #000;
}

ul {  
    display: flex;
    flex-direction: row;
}


li {  
    display: flex;
    flex-direction: row;
    margin: 20px;
}


post {  
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border: 2px solid #000;
    background: linear-gradient(#FFFFFF, #dda0dd);
}

delete {  
    display: flex;
    background: #dc143c;
    
}

group {
    display: flex;
    margin: 50px;
    height: 300px;
    width: 600PX;
    border: 2px solid #000;
    justify-content: space-evenly;
    flex-direction: column;
}

group_content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    padding: 50px;
    border: 2px solid #000;
    margin: 50px;
   background: linear-gradient(#FFFFFF, #00FFFF);
}

group_team {
    display: flex;
    padding: 50px;
    height: 90%;
    width: 80%;
    border: 2px solid #000;
    justify-content: space-evenly;
    flex-direction: column;
}

group_item {
    display: flex;
    padding: 50px;
    height: 90%;
    width: auto;
    border: 2px solid #000;
    justify-content: space-evenly;
    flex-direction: column;
}

.comment {
  width: 300px;
  background: linear-gradient(#FFFFFF, #00FFFF);
  border: 2px solid #000;
  height: auto;
}

